<h2>Hello <%= @username %>!</h2>

<h5>Welcome to WhaleYouTextMe.com! This is the last email you will get from us. Your account details are below.</h5>

<p>username: <%= @username %></p>
<p>password: <%= @password %></p>

<h5>Bye!</h5>

<p>(There is a contact form on our website if you have any further questions.)</p>
